/* 텍스트, 배경, 강조 색상을 따로 지정하고 나중에 쉽게 바꿀수 있도록 정의 */
:root {
  --text-color: beige;
  --backgroundd-color: #263343;
  --accent-color: #d49466;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro';
}

/* var를 이용해서 위에 root에 정의해놓은 색상을 출력 */
a{
  text-decoration: none;
  color: var(--text-color);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--backgroundd-color);
  padding: 8px 12px;
}

.navbar_logo {
  font-size: 24px;
  color: var(--text-color);
}

.navbar_logo i {
  color: var(--accent-color);
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar_menu li {
  padding: 8px 12px;
}

/* hover를 이용해서 메뉴 위에 마우스를 가져가면 색상이 변화하도록 함 */
.navbar_menu li:hover {
  background-color: var(--accent-color);
  border-radius: 4px;
}

.navbar_icons {
  list-style: none;
  color: var(--text-color);
  display: flex;
  padding-left: 0;
}

.navbar_icons li {
  padding: 8px 12px;
}

/* 반응형에서 화면이 작아지면 나오는 햄버거 아이콘 스타일 설정 
  display를 none으로 줘서 화면 크기가 768px 이상일 때에는 안보이도록 함*/
.navbar_toogleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: var(--accent-color);
}

/* 반응형 웹으로 만들기 위한 media 정의 
768px(테블릿용)을 기준으로 한가지만 추가*/
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  /* 메뉴를 중앙정렬 하기 위해 width를 100으로 줌 */
  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar_menu li {
    width: 100%;
    text-align: center;
  }

  .navbar_icons {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .navbar_toogleBtn {
    display: block;
  }

  .navbar_menu.active,
  .navbar_icons.active {
    display: flex;
  }
}